Assignment_Client/Connected Services/AdminServiceReference/AdminService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53882/Admin/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assignment_WebService" />
  <xs:element name="GetAdminList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="GetAdminListResult" nillable="true" type="q1:ArrayOfAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="admin" nillable="true" type="q2:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="admin" nillable="true" type="q3:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idA" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="admin" nillable="true" type="q4:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatePlaceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatePlaceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="GetCatePlaceListResult" nillable="true" type="q5:ArrayOfCategoryPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatePlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="categoryPlace" nillable="true" type="q6:CategoryPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatePlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCatePlaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCatePlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="categoryPlace" nillable="true" type="q7:CategoryPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCatePlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCatePlaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCatePlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCatePlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCatePlaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="GetPlaceListResult" nillable="true" type="q8:ArrayOfPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="place" nillable="true" type="q9:Place" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPlaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="place" nillable="true" type="q10:Place" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePlaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePlaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="GetImageListResult" nillable="true" type="q11:ArrayOfImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="GetImageListByIdResult" nillable="true" type="q12:ArrayOfImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="image" nillable="true" type="q13:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="image" nillable="true" type="q14:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idI" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="GetPlaceByIdResult" nillable="true" type="q15:Place" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>