Assignment_Client/Connected Services/UserServiceReference/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53882/Client/ClientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53882/Client/ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53882/Client/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assignment_WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByEmail" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_LoginClient_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_LoginClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddSubComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubComment" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddSubComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetCommentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentList" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetCommentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentListResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetCommentListById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentListById" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetCommentListById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentListByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddClient" message="tns:IClientService_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddClientResponse" message="tns:IClientService_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetByEmail" message="tns:IClientService_GetByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetByEmailResponse" message="tns:IClientService_GetByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/LoginClient" message="tns:IClientService_LoginClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/LoginClientResponse" message="tns:IClientService_LoginClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddComment" message="tns:IClientService_AddComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddCommentResponse" message="tns:IClientService_AddComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddSubComment" message="tns:IClientService_AddSubComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddSubCommentResponse" message="tns:IClientService_AddSubComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetCommentList" message="tns:IClientService_GetCommentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetCommentListResponse" message="tns:IClientService_GetCommentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentListById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetCommentListById" message="tns:IClientService_GetCommentListById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetCommentListByIdResponse" message="tns:IClientService_GetCommentListById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByEmail">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/LoginClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubComment">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddSubComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentList">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetCommentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentListById">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetCommentListById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://localhost:53882/Client/ClientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>