Assignment_Client/Connected Services/UserServiceReference/ClientService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53882/Client/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assignment_WebService" />
  <xs:element name="AddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="GetByEmailResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="comment" nillable="true" type="q4:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="subComment" nillable="true" type="q5:SubComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="GetCommentListResult" nillable="true" type="q6:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Assignment_WebService" minOccurs="0" name="GetCommentListByIdResult" nillable="true" type="q7:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>